extends ../base.pug

block variables
  - var htmlId = "earlier"
  - var title = "Earlier Web Work - Giaco Corsiglia"
  - var url = "https://giacocorsiglia.com/portfolio"
  - var description = "Giaco Corsiglia’s earlier web design work."

block body
  main
    h1 Earlier
