extends ../base.pug

include ../images.pug

block variables
  - var htmlId = "earlier"
  - var title = "Earlier Web Work - Giaco Corsiglia"
  - var url = "https://giacocorsiglia.com/portfolio/earlier"
  - var description = "Giaco Corsiglia’s earlier web design work."

block body
  header
    ol.breadcrumb
      li: a(href="/") Giaco Corsiglia
      li: a(href="/portfolio") Portfolio
      //- Need to add this space here otherwise the entire list wraps together.
      li: h1 #{" "} Earlier&nbsp;Work

  main
    section
      p#lbg-design-intro.
        I worked intermittently—but fruitfully—with
        #[a(href="http://lbgdesign.com"): b LBG Design].
        In particular, I wrote code for the three websites below.
        Each has been online for years, and each is configured with a content
        management system such as WordPress, allowing for easy&nbsp;editing.

      ul#lbg-design-stripe
        li.portfolio-image-wrap
          a(href="https://gobuzzword.com").portfolio-image
            +image('earlier/buzzword', 'png', 574, 358, 576, 'Screenshot of BuzzWord website, gobuzzword.com')

        li.portfolio-image-wrap
          a(href="http://www.williammonical.com").portfolio-image
            +image('earlier/william-monical', 'jpg', 574, 358, 576, 'Screenshot of the William Monical website, williammonical.com')

        li.portfolio-image-wrap
          a(href="https://carriagehousepaper.com").portfolio-image
            +image('earlier/chp', 'jpg', 574, 358, 576, 'Screenshot of the Carriage House Paper website, carriagehousepaper.com')

    section#zilabrand-stripe
      p#zilabrand-intro.
        I also put together a portfolio site for#[br]
        seamstress and artist Zila&nbsp;Brand.

      ul
        li.portfolio-image-wrap
          a(href="https://zilabrand.com").portfolio-image
            +image('earlier/zilabrand', 'jpg', 862, 502, 864, 'Screenshot of Zila Brand’s website, zilabrand.com')
