extends ../base.pug

block variables
  - var htmlId = "fareharbor"
  - var title = "FareHarbor - Giaco Corsiglia"
  - var url = "https://giacocorsiglia.com/portfolio"
  - var description = "Giaco Corsiglia’s work at FareHarbor."

block body
  main
    h1 FareHarbor
