extends base.pug

include images.pug

block variables
  - var htmlId = "home"
  - var title = "Giaco Corsiglia"
  - var description = "Giaco is a physics graduate student in Boulder, CO who was once a software designer and engineer."
  - var url = "https://giacocorsiglia.com"

block body
  header#header
    +image("me", "jpg", 168, 168, 168, "Photo of Giaco Corsiglia")#photo

    h1#name Giaco Corsiglia

  main
    section#info-section
      dl
        dt Currently
        dd.
          A #[b: a(href="https://www.colorado.edu/per/people/giaco-corsiglia") PhD student]
          at #[b CU Boulder] studying #[b physics&nbsp;education].

        dt Previously
        dd.
          A #[b designer] and #[b programmer] at #[a(href="https://fareharbor.com") FareHarbor] in #[b San Francisco].#[br]
          A physics and mathematics major at #[b Amherst College],#[br.large-only]
          where I played for the #[b: a(href="http://amherstultimate.weebly.com") Army&nbsp;of&nbsp;Darkness].

        dt Once upon a time
        dd.
          Born and raised in #[b New York City]#[br]
          (meaning I’ve #[b always] loathed #45).

    nav#links-section
      dl
        dt Portfolio
        dd
          ul.links-list
            li: a(href="/portfolio/fareharbor") My work at FareHarbor
            li: a(href="/portfolio/earlier") Earlier web work

        dt Links
        dd
          ul.links-list
            li: a(href="/resume.pdf") Résumé
            li: a(href="https://github.com/GiacoCorsiglia") github.com/GiacoCorsiglia
            li: a(href="https://www.linkedin.com/in/giacocorsiglia/") /in/GiacoCorsiglia/
            li: a(href="mailto:giaco@corsiglia.me") giaco@corsiglia.me
