extends base.pug

block variables
  - var htmlId = "home"
  - var title = "Giaco Corsiglia"
  - var description = "Giaco is a physics graduate student in Boulder, CO who was once a software designer and engineer."
  - var url = "https://giacocorsiglia.com"

block body
  header
    h1 Giaco Corsiglia

  main
    section#center-section
      dl
        dt Currently
        dd.
          A #[b graduate student] at #[b CU Boulder] studying #[b physics].

        dt Previously
        dd.
          A #[b designer] and #[b programmer] at FareHarbor in #[b San Francisco].#[br]
          A physics and mathematics major at #[b Amherst College],#[br]
          where I played for the #[b: a(href="http://amherstultimate.weebly.com") Army of Darkness].

        dt Once upon a time
        dd.
          Born and raised in #[b New York City]#[br]
          (meaning I’ve #[b always] loathed #45).

    nav#bottom-section
      dl
        dt Portfolio
        dd
          ul
            li: a(href="/portfolio/fareharbor") My work at FareHarbor
            li: a(href="/portfolio/earlier") Earlier web work

        dt Links
        dd
          ul
            li: a(href="/resume.pdf") Résumé
            li: a(href="https://github.com/GiacoCorsiglia") github.com/GiacoCorsiglia
            li: a(href="https://www.linkedin.com/in/giacocorsiglia/") /in/GiacoCorsiglia/
            li: a(href="mailto:giaco@corsiglia.me") giaco@corsiglia.me
