extends base.pug

block variables
  - var htmlId = "home"
  - var title = "Giaco Corsiglia"
  - var description = "Giaco is a physics graduate student in Boulder, CO who was once a software designer and engineer."
  - var url = "https://giacocorsiglia.com"

block body
  main
    h1 Giaco Corsiglia
