extends base.pug

include images.pug

block variables
  - var htmlId = "home"
  - var title = "Giaco Corsiglia"
  - var description = "Giaco is software engineer in Boulder, CO who previously earned a physics PhD focusing on education research."
  - var url = "https://giacocorsiglia.com"
  - var image = { src: "/assets/og.jpg", width: 776, height: 776, alt: "Photo of Giaco Corsiglia" }

block body
  header#header
    +image("me", "jpg", 18 * 12, 18 * 12, 18 * 12, "Photo of Giaco Corsiglia")#photo

    h1#name Giaco Corsiglia

  main
    section#info-section
      dl
        dt Currently
        dd.
          #[b Senior software engineer] at #[a(href="https://checkfront.com") Checkfront].
        
        dt Previously
        dd.
          Lead engineer and eventual #[b CTO] at #[a(href="https://exhalefi.com") Exhale] (née Palolo).
          #[br]#[br]
          I earned my #[b PhD in physics] doing #[b education research] at #[b CU&nbsp;Boulder], where I created #[a(href="https://acephysics.net") acephysics.net]
          and authored several&nbsp;#[a(href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJ1KiT1OKCSqvi8fhUiLpFYzIdfP1q-_iXCtoFiryMhJm4oraoEI1TmdXP4kwH33xoqJ79kLZIS1jxmABWoztA&user=XYAa55IAAAAJ") publications].
          #[br]#[br]
          #[b Designer] and #[b engineer] at #[a(href="https://fareharbor.com") FareHarbor] in San&nbsp;Francisco.
          #[br]#[br]
          Physics and mathematics major at #[b Amherst&nbsp;College].

        dt Once upon a time
        dd.
          Born and raised in #[b New York City].

    nav#links-section
      dl
        dt Portfolio
        dd
          ul.links-list
            li: a(href="/portfolio/fareharbor") My work at FareHarbor
            li: a(href="/portfolio/earlier") Earlier web work

        dt Links
        dd
          ul.links-list
            li: a(href="/resume.pdf") Résumé
            li: a(href="https://github.com/GiacoCorsiglia") github.com/GiacoCorsiglia
            li: a(href="https://www.linkedin.com/in/giacocorsiglia/") /in/GiacoCorsiglia/
            li: a(href="mailto:giaco@corsiglia.me") giaco@corsiglia.me
