extends base.pug

block variables
  - var htmlId = "portfolio"
  - var title = "Portfolio - Giaco Corsiglia"
  - var url = "https://giacocorsiglia.com/portfolio"
  - var description = "Giaco Corsiglia’s web development portfolio."

block body
  header
    ol.breadcrumb
      li: a(href="/") Giaco Corsiglia
      li: h1 Portfolio

    p#intro.
      I have more than ten years’ experience designing and programming websites.
      My career as a software engineer is on hold, however, as I pursue a
      graduate degree in physics.  Nonetheless, examples of my work can be
      browsed below, divided into two&nbsp;categories:

  main
    nav
      ul
        li
          a(href="/portfolio/fareharbor").portfolio-link.portfolio-link--blue
            p.portfolio-link__heading Software Engineer @ FareHarbor
            p.portfolio-link__description September 2015–July 2018

        li
          a(href="/portfolio/earlier").portfolio-link.portfolio-link--white
            p.portfolio-link__heading Earlier web development work
            p.portfolio-link__description Starting in 2010
