@mixin fh-small {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin fh-large {
  @media screen and (min-width: 801px) {
    @content;
  }
}

#fareharbor {
  $paragraph-spacing: 2rem;

  h1,
  h2 {
    margin-bottom: $paragraph-spacing;
    // These are deliberately not the `fh-*` breakpoints.
    @include large {
      font-size: 4rem;
      line-height: 4rem;
    }
    @include small {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  body {
    background: $fareharbor-blue;
    color: $text-light;
  }

  #overflow-x {
    @include fh-large {
      // This has to go here, since setting `overflow-x: hidden` automatically
      // sets overflow-y: auto, and we don't want individual sections scrolling,
      // which they will do due to (a) the skewed ::before elements creating the
      // angled backgrounds (these are also why we can't set `overflow-x: hidden`
      // on <main>); and (b) galleries which are meant to overflow vertically.
      // Very frustrating.
      overflow-x: hidden;
    }
  }

  // HEADER/INTRO SECTION

  #header {
    max-width: 12 * 6rem;
    margin: 0 auto;

    @include fh-large {
      padding-bottom: 6rem;
      position: relative;

      h1 {
        @include edge-spacing;
        margin-top: 5rem;
      }

      .columns {
        @include edge-spacing;
        display: grid; // Because who wants to deal with gutters any other way?
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
      }

      p:not(:last-of-type) {
        margin-bottom: $paragraph-spacing;
      }

      #lighthouse {
        position: absolute; // Relative to #header
        left: 64%;
      }
    }

    @include fh-small {
      .breadcrumb {
        @include default-width;
      }

      h1 {
        @include default-width;
        margin-top: 3rem;
      }

      p {
        @include default-width;
        margin-bottom: $paragraph-spacing;
      }

      #lighthouse {
        position: relative;
        margin: 3rem auto 0;
      }
    }

    #lighthouse {
      display: block;
      bottom: -14px; // For both relative and absolute positioning.
    }
  }

  // CONTENT

  main {
    section {
      &:nth-child(2n) {
        color: $text-light;
      }

      &:nth-child(2n + 1) {
        position: relative;
        color: $text-dark;

        @include background-stripe;
      }
    }

    p:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include fh-large {
      section {
        @include edge-spacing;
      }

      .section-content {
        max-width: 16 * 6rem;
        margin: 0 auto;
      }
    }

    @include fh-small {
      h2,
      p {
        @include default-width;
      }
    }
  }

  .image-container {
    border: 1px solid $image-border-color;
    border-radius: $image-border-radius;
    overflow: hidden;
    background: $white;
    box-shadow: $image-shadow;
  }

  #other-figure {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  // Custom  layout for each section.

  @include fh-large {
    #timeline,
    #grid,
    #embed-generator,
    #content {
      .section-content {
        @include fh-large {
          display: grid;
          // Text column, figure column
          grid-template-columns: 34rem 1040px + 2px;
          grid-column-gap: 4rem;
        }
      }
    }

    #timeline {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    #grid {
      padding-top: 6rem;
      padding-bottom: 6rem;

      .gallery {
        margin-bottom: -12rem;
      }
    }

    #sites {
      padding-top: 12rem;
      padding-bottom: 12rem;

      h2,
      .columns {
        max-width: 14 * 6rem;
        margin-left: auto;
        margin-right: auto;
      }

      .columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4rem;
      }
    }

    #embed-generator {
      padding-top: 6rem;
      padding-bottom: 6rem;

      .gallery {
        margin-top: -12rem;
        margin-bottom: -12rem;
      }
    }

    #content {
      padding-top: 12rem;
      padding-bottom: 6rem;

      .gallery {
        margin-top: -2rem;
        margin-bottom: -14rem;
      }
    }

    #other {
      padding-top: 12rem;
      padding-bottom: 6rem;

      .section-content {
        display: grid;
        // Text column, figure column
        grid-template-columns: minmax(auto, 34rem) minmax(auto, 406px + 2px);
        grid-column-gap: 4rem;
      }

      .image-container {
        margin: 1rem 0 2rem;
      }
    }
  }

  @include fh-small {
    #timeline,
    #grid,
    #embed-generator,
    #sites,
    #content,
    #other {
      padding-top: 4rem;
      padding-bottom: 6rem;
    }

    .gallery {
      margin-top: 3rem;
      // Have to use margins not padding here so absolute positioning inside the
      // .gallery isn't disturbed.
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    #other-figure {
      margin-top: 3rem;

      .image-wrap {
        @include image-edge-spacing;
        display: flex;
        justify-content: center;
      }

      figcaption {
        margin-top: 2rem;
        @include default-width;
      }
    }
  }

  // FOOTER

  #nota-bene {
    margin-top: 4rem;
    margin-bottom: 6rem;
    font-size: $text-small;

    p {
      @include default-width;
    }
  }

  #footer {
    @include fh-large {
      text-align: center;
    }
    @include fh-small {
      @include default-width;
    }
  }
}
