
h1 {
  padding-bottom: 1rem;
  font-family: Lato;
  font-weight: 900;

  @include large {
    padding-top: 4rem;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
  }

  @include small {
    padding-top: 3rem;
    font-size: 3rem;
    line-height: 3rem;
  }
}

.home-content {
  margin: 0 auto;
  max-width: 20rem;
}

.about {
  line-height: 1.2rem; // It's 5 lines on my screen so this evens out.
  padding-bottom: 1rem;

  a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: currentColor;

    &:hover { border-bottom-style: solid; }
  }
}

.portfolio-link {
  $border-width: 2px;

  display: block;
  position: relative;
  margin-bottom: .5rem; // Adds to 1rem with the next .small-nav-link
  padding: calc(1rem - #{$border-width}) calc(2rem - #{$border-width});
  border-radius: .5rem;
  border: $border-width solid #333;

  color: #333;
  text-decoration: none;

  transition-duration: 150ms, 150ms;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-property: color, background-color;

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: calc(2rem - #{$border-width});
    height: 1rem;
    width: 1rem;
    fill: #444;

    transition-duration: 150ms, 150ms;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-property: fill, right;
  }

  &:hover {
    background: #333;
    color: #fff;
    transition-duration: 70ms, 70ms;

    svg {
      fill: #fff;
      right: calc(1.6rem - #{$border-width});
      transition-duration: 70ms, 70ms;
    }
  }
}

.small-nav-link {
  display: block;
  padding-left: .5rem; // Adds to 2rem with the icon + padding.
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #333;
  text-decoration: none;

  svg {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;

    fill: #444;
    vertical-align: bottom;
  }

  &:hover {
    text-decoration: underline;
  }
}
