@import "baseline-overlay";



// RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul { list-style: none; }



// MEDIA

@mixin small {
  @media screen and (max-width: 490px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 491px) {
    @content;
  }
}



// COLORS

$purple: #4700A0;
$fareharbor-blue: #0A6ECE;
$text-dark: #333;
$text-light: #fff;



// TYPOGRAPHY

$regular: 400;
$bold: 900;
$text-small: 1.166667rem; // 14px

html {
  // Set up 1rem to be one vertical rhythm unit (12px = .75 * 16px).
  font-size: 75%;
}

body {
  // Set the actual default font size (16px)
  font-size: 1.33333333rem;
  line-height: 2rem;
  font-family: "Lato", "Trebuchet MS", sans-serif;
  font-weight: $regular;
  color: $text-dark;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}



// LAYOUT

footer {
  padding-bottom: 2rem;
  font-size: $text-small;
  opacity: .75;
}



// SECTIONS

@import "home";
@import "portfolio";
@import "earlier";
@import "fareharbor";
