// RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul { list-style: none; }



// MEDIA

@mixin small {
  @media screen and (max-width: 490px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 491px) {
    @content;
  }
}



// TYPOGRAPHY

$regular: 400;
$bold: 900;

html {
  // Set up 1rem to be one vertical rhythm unit (12px = .75 * 16px).
  font-size: 75%;
}

body {
  // Set the actual default font size (16px)
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Lato, "Trebuchet MS", sans-serif;
  font-weight: $regular;

  color: #333;
}



// LAYOUT



// SECTIONS

@import "home";
@import "portfolio";
